Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1

python-dotenv==1.1.1
pymongo==4.13.2

numpy==1.26.4
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84

mediapipe==0.10.35
insightface==0.7.3
onnxruntime==1.22.1

scikit-learn==1.7.1
scikit-image==0.25.2
matplotlib==3.10.6
pillow==11.3.0

requests==2.32.5
waitress==3.0.2